.main{
	position: relative;
	top: 80px;
	width: 1280px;
	text-align: center;
}
.main .main-form h3{
	color: rgba(255, 0, 0, 0.5);
}
.main .main-form div{
	margin-top: 20px;
	margin-bottom: 20px;
}
.main .main-form div label{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.55);
    margin-right: 60px;
}
.main .main-form div input{
	display: inline-block;
	width: 320px;
	height: 40px;
	text-align: center;
	font-size: 20px;
}
.main .main-form .form-btns{
	opacity: 0;
}
.main .main-form .form-btns button{
	margin-right: 50px;
	margin-left: 47px;
	width: 95px;
	height: 33px;
}