.main-bar{
	position: fixed;
	width: 180px;
	height: 401px;
	background-color: rgba(51, 55, 68, 0.95);
	margin-top: 50px;
}
.main-bar ul{
	margin-left: -40px;
}
.main-bar h4{
    color: white;
    margin-top: 0;
    line-height: 36px;
    text-align: center;
    background-color: #333744;
}
.main-bar ul li{
	height: 40px;
	margin-bottom: 5px;
	transition: all .2s ease-out;
}
.main-bar ul li a{
    color: white;
    font-size: 16px;
    margin-left: 45px;
    line-height: 40px;
}
.main-bar ul li a span{
	font-size: 13px;
}
.main-bar ul li a:hover{
	text-decoration: none;
}
.main-bar ul li:hover{
	background-color: #6cd4e4;
	cursor: pointer;
}

.clilink{
	background-color: #6cd4e4;
}